{% include "header.html" %}

<!-- Page Header-->
<header
  class="masthead"
  style="background-image: url('../static/assets/img/about-bg.jpg')"
>
  <div class="container position-relative px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-7">
        <div class="page-heading">
          <h1>About Me</h1>
          <span class="subheading">This is what I do.</span>
        </div>
      </div>
    </div>
  </div>
</header>
<!-- Main Content-->
<main class="mb-4">
  <div class="container px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-7">
        <p>
         I'm Siddhansh, a 22-year-old individual with a diploma in IT and a strong foundation in coding. Proficient in a diverse range of programming languages, including C, C++, C#, Java, PHP, JavaScript, React, Svelte, Motoko, and Python, I possess a keen enthusiasm for continuous learning and self-improvement.

Driven by a passion for growth and development, I am committed to expanding my skills and exploring new technologies. Known for my dedication and honesty, I take pride in being true to my words. As a self-learner, I embrace challenges and strive for excellence in every endeavor.

Looking forward to contributing my coding expertise and embracing new opportunities for personal and professional advancement.

📫 How to reach me email me on Devsiddhansh@gmail.com
        </p>

      </div>
    </div>
  </div>
</main>

{% include "footer.html" %}
